@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-gray-blue-1: hsl(210, 46%, 95%);
	--color-gray-blue-2: hsl(212, 23%, 69%);
	--color-gray-blue-3: hsl(217, 19%, 35%);
	--color-dark-blue: hsl(214, 17%, 51%);
	--color-white: #fff;

	--font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

@layer base {
	body {
		font-size: var(--text-sm);
		font-family: var(--font-sans);
		font-weight: 500;
		background-color: var(--color-gray-blue-1);
		color: var(--color-gray-blue-2);
	}
}

/* manrope-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/manrope-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Manrope";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/manrope-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Manrope";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/manrope-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
